@import url(http://fonts.googleapis.com/css?family=Gabriela);

/* === SETUP === */
html { 
  background: url(../timetoplan.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body, * {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'helvetica', serif;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 20px;
}

p {
    margin: 20px 0;
}

hr {
   position: fixed;
	height: 1px;
	border: none;
	background: black;
	margin: 20px 0;
	display: block;
}

table {
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}
th,td {
    padding: 5px 15px;
}

li {
    list-style-type:none;
}
ol{

	margin-top:10px;
    border:1px solid black;
    display:block;
   
}
/* === BUTTONS (WIP) === */
.add-activity-button{
    border: solid 1px;
    padding: 10px 20px;
    background: rgba(0,255,0,0.4);
    position: block;
    font-weight: bold;
    cursor: pointer;
    height: 43px;
    width: 139px;
    font-size: 13px;
}
.add-activity-button:hover {
    background: rgba(0,255,0,1);
}
.add-activity-button:active {
    color: white;
    background: rgba(0,255,0,0.4);
}

.button-add {
	float: right;
    border: solid 1px;
    padding: 10px 20px;
    background: rgba(0,255,0,0.4);
    position: block;
    font-weight: bold;
    cursor: pointer;
    font-family: arial;
    height: 43px;
    width: 139px;
    font-size: 13px;
}
.button-add:hover {
    background: rgba(0,255,0,1);
}
.button-add:active {
    color: white;
    background: rgba(0,255,0,0.4);
}

.button {
	background: rgba(0,255,0,0.4);
	border: solid 1px;
	padding: 10px 20px;
	margin: 10px 0;
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
	font-family: arial;
	font-size: 13px;
}
.button:hover {
    background: rgba(0,255,0,1);
}
.button:active {
    color: white;
    background: rgba(0,255,0,0.4);
}

/* === PAGE HEADER === */
header {
    width: 100%;
    background: rgba(0,255,0,0.4);
    position: absolute;
    top: 0;
    padding: 20px;
    border: solid 1px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#header-text {
    margin-left 3%;
    font-size: 1.5em;
}

/* === START PAGE === */
#start-view {
    margin-top: 30%;
    margin-left: 3%;
    opacity: 0%;
}

/* === MAIN PAGE === */
#planning-view {
    display: none;
    width: 100%;
    position: relative;
    padding: 20px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
/*=== SORTABLE ===*/
.field-presentation {
	position: relative;
	width: 20%;
	height: 70%;
	display: inline;
	background: grey;
	padding: 20px;
	opacity: 20%;
	margin-top: 70px;
	float: left;
	border: solid 1px;
	margin-left: 20px;
	-moz-box-sizing: border-box; -webkit-box-sizing: -box; box-sizing: border-box;
}
/* nattprogg */
.item-wrapper {
    border: 1px solid #eee;
    width: 142px;
    min-height: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0px 0 0 0;
    float: left;
    font-size: 0.9em;
}
/*.item-wrapper:nth-child(even) { background-color: #f8f8f8; }*/
.item-container { position: relative; text-align: center; cursor: move; }
.item-wrapper.mx-state-moving { background-color: #fcefa1; color: #000; margin: 0; }

#activity-container,#day-container{
    background: rgb(146,198,37,0.3);
    width: 142px;
	 height: 360px;
    list-style-type: none;
    margin: 0;
    padding: 0px 0 0 0;
    float: left;
    margin-right: 10px;
}

#activity-container li, #day-container li {
    margin: 0 1px 1px 1px;
    padding: 5px;
    font-size: 1.2em;
	box-shadow: 5px 5px 5px #888888;
    width: 263px;
  }
.dayClass{

	margin: 70px;
	


}


/* === ACTIVITY STUFF === */
#activity-rect {
	position: fixed;
	width: 280;
	height: 80%;
	display: inline;
	background: grey;
	padding: 20px;
	opacity: 20%;
	margin-top: 70px;
	float: left;
	border: solid 1px;
	margin-left: 20px;
	-moz-box-sizing: border-box; -webkit-box-sizing: -box; box-sizing: border-box;
}

#activity-table-head {
	background: #c4c4c4;
	border: solid 1px;
	height: 35px;
	font-style: bold;
	font-size: 12;
	padding: 10px 20px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.activity-table-head-left {
    width: 49%;
    margin-left: 2px;
    float: left;
}
.activity-table-head-right {
    float: left;
    width:50%;
}

.presentation{
	background:yellow;
}


.group-work{
	background:cyan;
}

.discussion{
	background:deeppink;
}

.break{
	background:green;
}
/* FIX ACTIVITY TABLE LAYOUT */
.row {


	background:white;
	position:relative;
	border: 1px solid black;
    border-collapse: collapse;

}


/* === DAY STUFF === */

.day-div {
	position: relative;
	width: 321px;
	height: 487px;
	display: inline;
	background: grey;
	padding: 20px;
	opacity: 20%;
	margin-top: 50px;
   margin-left: 330px;
	float: left;
	border: solid 1px;
	-moz-box-sizing: border-box; -webkit-box-sizing: -box; box-sizing: border-box;
}
#day-table-head {
	background: #c4c4c4;
   overflow: auto;
	border: solid 1px;
	height: 150px;
	font-style: bold;
	font-size: 12;
	overflow: visible;
	padding: 10px 20px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.con {
	height: 100%;
	min-height: 350px;
	width: 90%;
}

/* === POPUP === */
div#popupAddActivity{
	display: none;
	z-index: 999;
	position: fixed;
	left:50%;
	top:17%;
	margin-left:-202px;
}
div#popupAddDay{
	display: none;
	z-index: 999;
	position:absolute;
	left:50%;
	position: fixed;
	top:17%;
	margin-left:-202px;
}
#form {
	max-width:300px;
	min-width:250px;
	height: 345px;
	background: grey;
	padding:10px 50px;
	border:1px solid black;
	border-radius:10px;
	font-family:raleway;
	background-color: grey;
}
input[type=text] {
	width:82%;
	padding:10px;
	margin-top:30px;
	border:1px solid #ccc;
	padding-left:40px;
	font-size:16px;
}
input[type=number] {
	width:82%;
	padding:10px;
	margin-top:30px;
	border:1px solid #ccc;
	padding-left:40px;
	font-size:16px;
}
select {
	padding: 10px;
	width: 300px;
	margin-top: 30px;
	border: solid 1px #8b8b8b;
	font-size:16px;
}
#name {
	background-repeat:no-repeat;
	background-position:5px 7px
}
#description {
	background-repeat:no-repeat;
	background-position:5px 7px
}

/* CHART */
.bar-container {
    float: right;
    width: 50px;
    height: 100px;
}
.bar {
    background-color: red;
    width: 50px;
}
.presentation {
    background-color: green;
}
.group {
    background-color: cyan;
}
.discussion {
   background-color: deeppink;
}
.break {
   background-color: yellow;
}
